<div>
  <div style="background-color: #D1C4E9" class="card-body" class="max-width mx-auto">
    <h1 class="card-title" style="text-align: center; font-family: 'Pacifico', cursive; padding: 5px">Hannah Hoy
      Hammonds</h1>
    <div class="container d-flex">
      <div style="background-color: #9575CD; margin-top: 10px">
        <img src="url(../../../../assets/profile pic.jpg" alt="profile picture" class="img-responsive"
          style="max-height: 100px; margin-right: 10px; margin-top: 10px; margin-left: 10px; float: left" />
        <p class="card-text" class="text-justify" style="margin-top: 10px; padding: 10px">Currently a classroom teacher, I was
          inspired
          to learn how to code after my first year of coaching the Youth Coding League. The students I coached were
          motivated self-learners
          and showed me that anyone can jump in and do hard things. Combing my love for using EdTech in the
          classroom
          and my passion for life-long learning I am looking for new professional challenges. </p>
      </div>
    </div>
    <br>
    <div style="background-color: white;">
      <br>
      <hr>
      <div class="container" style="background-color: white;">
        <div class="row">
          <div class="col">
            <h5 class="text-left" style="color: #4527A0; background-color: #D1C4E9">Tech</h5>
          </div>
          <div class="col">
            <h5 class="text-left" style="color: #4527A0; background-color: #D1C4E9">Personal Interests</h5>
          </div>
        </div>
        <div class="row align-items-center" style="background-color: white;">
          <div class="col align-self-start">
            <ul class="text-left">
              <li>Angular</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Typescript</li>
              <li>Bootstrap</li>
              <li>Visual Studio Code</li>
              <li>Heroku</li>
              <li>Firebase</li>
            </ul>
          </div>
          <div class="col">
            <ul class="text-left">
              <li>Sponsored Tech Know Kids Club at Clark Elementary, 4 years</li>
              <li> Coached <a href="https://www.youthcodingleague.com/">Youth Coding League</a> at Clark Elementary
                School,
                2 years</li>
              <li>Designed websites:
                <br>
                <a href="https://www.korugardenscsa.com">Koru Gardens</a>
                <br>
                <a href="https://www.firstprespaducah.org">First Presbyterian Church Paducah</a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <br>
        <div class="row align-items-start">
          <div class="col">
            <h5 class="text-left" style="color: #4527A0; background-color: #D1C4E9">Projects</h5>
          </div>
        </div>
        <div class="row row-cols-2" style="background-color: white;">
          <div class="col"><a href="https://to-plant.herokuapp.com/">To-Plant App:</a>
            <br><img src="url(../../../../assets/to plant profile.PNG" alt="flowers being watered"
              class="img-responsive"
              style="max-height: 80px; text-align: left; margin-right: 10px; margin-top: 10px; margin-bottom: 10px" />
            <br>Users can create a list of what to plant and when in their garden
            <br><em>Angular, Bootstrap, Heroku</em>
          </div>
          <div class="col"><a href="https://getfriended-be40a.web.app/main">Get Friended App:</a>
            <br><img src="url(../../../../assets/get friended profile.PNG" alt="get friended logo"
              class="img-responsive"
              style="max-height: 80px; text-align: left; margin-right: 10px; margin-top: 10px; margin-bottom: 10px" />
            <br>Social Media app created with colleagues
            <br><em>Angular, Bootstrap, Firebase</em>
          </div>
          <div class="col"><a href="https://csi-form-project.herokuapp.com/#scrollspyForm">Customer Inquiry Form</a>
            <br><img src="url(../../../../assets/form shot.PNG" alt="picture of form"
              class="img-responsive"
              style="max-height: 80px; text-align: left; margin-right: 10px; margin-top: 10px; margin-bottom: 10px" />
            <br>Customer Inquiry Form completed with colleagues as an Employer Capstone Project for CodeLabes
            <br><em>Angular, Bootstrap, Firebase</em></div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>
