<div class="container">
  <div class="row row-cols-2" style="background-color: #D1C4E9" class="card-body" class="max-width mx-auto;">
    <h1 class="card-title" style="text-align: center; font-family: 'Pacifico', cursive; padding: 5px">Connect with Me:
    </h1>
    <div class="container d-flex">
      <div class="col" style="background-color: #9575CD; margin-top: 10px; text-align: center;">
        <a href="mailto:hannahammonds@gmail.com">
        <img src="url(../../../../assets/email icon.png" alt="profile picture" class="img-responsive"
          style="max-height: 30px; margin-right: 10px; margin-top: 10px; margin-left: 10px" />
        <p class="card-text" class="text-center" style="margin-top: 10px">hannahammonds@gmail.com</a>
      </div>
      <div class="col" style="background-color: #9575CD; margin-top: 10px; text-align: center;"><a
          href="https://github.com/hannahammonds">
          <img src="url(../../../../assets/github icon.jpg" alt="profile picture" class="img-responsive"
            style="max-height: 30px; margin-right: 10px; margin-top: 10px; margin-left: 10px" />
          <p class="card-text" class="text-center" style="margin-top: 10px">Git Hub Repositories
        </a>
      </div>
    </div>
  </div>
