<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h5 class="text-left" style="color: #4527A0; background-color: #D1C4E9">Tech</h5>
    </div>
    <div class="col">
      <h5 class="text-left" style="color: #4527A0; background-color: #D1C4E9">Personal Projects</h5>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col align-self-start">
      <ul class="text-left">
          <li>Angular</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Typescript</li>
          <li>Bootstrap</li>
          <li>Visual Studio Code</li>
        </ul>
    </div>
    <div class="col">
      <ul class="text-left">
        <li>Sponsored Tech Know Kids Club at Clark Elementary, 4 years</li>
        <li> Coached <a href="https://www.youthcodingleague.com/">Youth Coding League</a> at Clark Elementary School, 2 years</li>
        <li>Designed websites:
          <br>
          <a href="www.korugardenscsa.com">Koru Gardens</a>
          <br>
          <a href="www.firstprespaducah.org">First Presbyterian Church Paducah</a></li>
          <li><a href="https://github.com/hannahammonds/to-plant">To-Plant App:</a>
            <br>Users can create a list of what to plant and when in their garden
            </li>
          <li><a href="https://github.com/jludovissie/GetFriended">Get Friended App:</a>
          <br>Social Media app created with colleagues
          </li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h5 style="color: #4527A0; background-color: #D1C4E9" class="text-left">Experience:</h5>
  <hr>
  <h6 class="text-left">Lead Classroom Teacher" Riverstones, Lumsden, New Zealand, 2014-2015</h6>
  <ul class="text-left">
    <li>Plan and implement daily lessons for students ages 0-5</li>
    <li>Maintain individual learning goals and online portfolio records for each student</li>
    <li>Member of Leadership Team</li>
  </ul>
  <hr>
  <h6 class="text-left">General Classroom Teacher: Clark Elementary School, Paducah, KY 2015-present</h6>
  <ul class="text-left">
    <li>Plan and implement daily lessons for students from 5-11</li>
    <li>Maintain student achievement records for each student and database of student records</li>
    <li>Found and implemented EdTech for both in-person and virtual classrooms</li>
    <li>Use of Innovation Hub Makerspace for students to experience real life learning</li>
  </ul>
  <hr>
  <h6 class="text-left">Farm Owner and Operator: Koru Gardens, Paducah, KY 2015-present</h6>
  <ul class="text-left">
    <li>Maintain farm records</li>
    <li>Design and update farm webpages and data management system</li>
    <li>Apply for grants</li>
    <li>Grow, harvest, and package produce</li>
  </ul>
  <hr>
  <br>
</div>
