<div class="card text-center" class="bg-9575CD">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a style="cursor:pointer;" class="nav-link" [ngClass]="{active: activeTab === 'About'}"
          (click)="goToTab('About')">About</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer;" class="nav-link" [ngClass]="{active: activeTab === 'Connect'}"
          (click)="goToTab('Connect')">Connect</a>
      </li>
    </ul>
  </div>
  <br>
  <div>
    <app-about *ngIf="activeTab === 'About'"></app-about>
  </div>
  <div>
    <app-contact *ngIf="activeTab === 'Connect'"></app-contact>
  </div>

 